.App {
  text-align: center;
  background-color: #c2ceca;
  height:100vh;
  width:100vw;
  position:absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputform{
  margin-top: 25vh;
  display: block;
  width: 10vw;
  margin-left: 35vw;
  padding: 2vh;

  background-color:#7395AE;
  border-radius: 1vh;
}


.errortxt{
  color: red;
}

.BadgeBox{
  position: relative;
  right: -50vw;
  background-color:#7395AE;
  justify-content: center;
  align-content: center;
  width:15vw;
  padding:1vh;
  margin-top: -40vh;
  border-radius: 1vh;
}

.infotxt{
  border: 1px solid;
  background-color: #557a9563;
  border-radius: 1vh;
  border-color: #557A95;
}

.Placeholder{
  background-color: #557a9563;
  padding: 2vh;
  border: 1px solid;
  border-color: #557A95;
  border-radius: 1vh;
}